// COLORS
$primary-color: #1e1e1c;
$secondary-color: #ec008c;

$white-color: #fff;

$dark-grey: #333333;

$fp-black: #1e1e1c; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
